# ===== 构建产物 =====
target/
!**/src/main/**/target/
!**/src/test/**/target/

# ===== IDE =====
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
*.factorypath

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== 日志 =====
*.log
logs/

# ===== maven-wrapper.jar =====
.mvn/wrapper/maven-wrapper.jar

# ===== 中间产出文档 =====
docs

# ===== 前端构建产物 =====
front/dist
front/node_modules
front/.vite
front/.vite/deps

jdec-platform-app/src/main/resources/application-test.yml
*.json